{% extends 'layout_admin.html.twig' %}

{% block title %}Gestions des Roles {{ project.name|capitalize }}{% endblock%}

{% block underNavTitle %}Nouveau rôle projet : {{ project.name|capitalize }}{% endblock %}
{% block underNavText %}Veuillez remplir le formulaire suivant: {% endblock %}

{% block body %}

    <div class="row">
        <div class="col s10 offset-s1">

            <div class="card">
                <div class="card-content">
                    {{ form_start(form) }}
                        <div class="row">
                            <div class="input-field col s12">
                                {{ form_widget(form.name, {
                                    attr: { length: '255' }
                                }) }}
                                {{ form_label(form.name) }}

                                {% if not form.name.vars.valid %}
                                    <div class="red-text">
                                        {{ form_errors(form.name) }}
                                    </div>
                                {% endif %}
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col s12">
                                {{ form_widget(form.description, {
                                    attr: {
                                        class: 'materialize-textarea',
                                        length: '5000'
                                    }
                                }) }}
                                {{ form_label(form.description) }}

                                {% if not form.description.vars.valid %}
                                    <div class="red-text">
                                        {{ form_errors(form.description) }}
                                    </div>
                                {% endif %}
                            </div>
                        </div>

                        <div class="row center-align">
                            <button class="btn waves-effect waves-light cyan darken-2" type="submit">
                                Enregistrer
                            </button>

                            <a href="{{ path("admin_show_project", {'id': project.id}) }}" class="btn waves-effect waves-light amber accent-4">
                                Retour
                            </a>
                        </div>
                    {{ form_end(form) }}
                </div>
            </div>

        </div>
    </div>

{% endblock %}
