{% extends 'layout_admin.html.twig' %}

{% block title %}Création Role{% endblock%}

{% block underNavTitle %}Creation d'un rôle :{% endblock %}
{% block underNavText %}Veuillez remplir le formulaire suivant: {% endblock %}

{% block body %}

    <div class="row">
        <div class="col s10 offset-s1">

            <div class="card">
                <div class="card-content">
                    {{ form_start(form) }}
                        <div class="row">
                            <div class="input-field col s12">
                                {{ form_label(form.type, 'Type de rôle :') }}

                                <div class="input-field col s12">
                                    {{ form_widget(form.type) }}
                                </div>

                                {% if not form.type.vars.valid %}
                                    <div class="red-text">
                                        {{ form_errors(form.type) }}
                                    </div>
                                {% endif %}
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col s12">
                                {{ form_widget(form.name, {
                                    attr: { length: '255' }
                                }) }}
                                {{ form_label(form.name, 'Nom du rôle :') }}
                            </div>

                            {% if not form.name.vars.valid %}
                                <div class="red-text">
                                    {{ form_errors(form.name) }}
                                </div>
                            {% endif %}
                        </div>

                        <div class="row">
                            <div class="input-field col s12">
                                {{ form_widget(form.description, {
                                    attr: {
                                        class: 'materialize-textarea',
                                        length: '2000'
                                    }
                                }) }}
                                {{ form_label(form.description, 'Description du rôle :') }}
                            </div>

                            {% if not form.description.vars.valid %}
                                <div class="red-text">
                                    {{ form_errors(form.description) }}
                                </div>
                            {% endif %}
                        </div>

                        <div id="company_choice" class="row hide">
                            {{ form_label(form.company, 'Entreprise rattachée au role :') }} <br>

                            <div class="input-roles-choices input-field">
                                {{ form_widget(form.company) }}
                            </div>

                            {% if not form.company.vars.valid %}
                                <div class="red-text">
                                    {{ form_errors(form.company) }}
                                </div>
                            {% endif %}
                        </div>

                        <div id="project_choice" class="row hide">
                            {{ form_label(form.project, 'Projet rattaché au role :') }} <br>

                            <div class="input-roles-choices input-field">
                                {{ form_widget(form.project) }}
                            </div>

                            {% if not form.project.vars.valid %}
                                <div class="red-text">
                                    {{ form_errors(form.project) }}
                                </div>
                            {% endif %}
                        </div>

                        <div class="row center-align">
                            <button class="btn waves-effect waves-light cyan darken-2" type="submit" name="_submit">
                                Enregistrer
                                <i class="material-icons right">send</i>
                            </button>

                            <a href="{{ path("admin_show_all_access_roles") }}" class="btn waves-effect waves-light amber accent-4">
                                Retour listes rôles
                            </a>
                        </div>

                    {{ form_end(form) }}
                </div>
            </div>

        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('assets/js/Admin/add_access_role.js'|asset_version) }}"></script>
{% endblock %}
