{% extends 'layout_admin.html.twig' %}

{% block title %}Gestions des Roles{% endblock%}

{% block underNavTitle %}Liste des Roles: {% endblock %}
{% block underNavText %}Vous avez {{ accessRoles.company|length + accessRoles.project|length }} Roles{% endblock %}

{% block body %}

    <div class="row center">
        <a href="#" class="waves-effect waves-light btn amber accent-4">
            <i class="material-icons right">add_circle_outline</i>
            Créer un nouveau Role
        </a>
    </div>

    <div class="row">
        <div class="col s12 m6">
            <div class="card">
                <div class="card-content grey darken-1 white-text">
                    <h5 class="valign center">Roles Entreprise: {{ accessRoles.company|length }}</h5>
                </div>

                <div class="card-content">
                    <ul class="collection">
                        {% for accessRole in accessRoles.company %}
                            <li class="collection-item avatar">
                                <i class="material-icons circle blue-grey">done_all</i>

                                <div class="col s8">
                                    <p class="title">Nom: {{ accessRole.name }}</p>
                                    <p>Description: {{ accessRole.description|length > 35 ? accessRole.description[0:35] ~ '...' : accessRole.description }}</p>
                                    <p>
                                        Entreprise:
                                        <a href="{{ path('admin_show_company', {'id': accessRole.company.id}) }}">{{ accessRole.company.name }}</a>
                                    </p>
                                </div>

                                <div class="col s4">
                                    <a class="right btn-floating red tooltipped" onclick="confirmAdminDeleteAccessRole({{ accessRole.id }})" href="#" data-position="top" data-delay="50" data-tooltip="Supprimer Rôle">
                                        <i class="material-icons right">delete</i>
                                    </a>
                                    <a class="right btn-floating green tooltipped" href="#" data-position="top" data-delay="50" data-tooltip="Editer Rôle Entreprise">
                                        <i class="material-icons">create</i>
                                    </a>
                                    <a class="right btn-floating cyan lighten-2 tooltipped" href="{{ path('admin_show_access_role', {'id': accessRole.id}) }}" data-position="top" data-delay="50" data-tooltip="Voir Rôle">
                                        <i class="material-icons right">info</i>
                                    </a>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

        <div class="col s12 m6">
            <div class="card">
                <div class="card-content grey darken-1 white-text">
                    <h5 class="valign center">Roles Projet: {{ accessRoles.project|length }}</h5>
                </div>

                <div class="card-content">
                    <ul class="collection">
                        {% for accessRole in accessRoles.project %}
                            <li class="collection-item avatar">
                                <i class="material-icons circle blue-grey">done_all</i>
                                <div class="col s8">
                                    <p class="title">Nom: {{ accessRole.name }}</p>
                                    <p>Description: {{ accessRole.description|length > 35 ? accessRole.description[0:35] ~ '...' : accessRole.description }}</p>
                                    <p>
                                        Projet:
                                        <a href="{{ path('admin_show_project', {'id': accessRole.project.id}) }}">{{ accessRole.project.name }}</a>
                                    </p>
                                </div>
                                <div class="col s4">
                                    <a class="right btn-floating red tooltipped" onclick="confirmAdminDeleteAccessRole({{ accessRole.id }})" href="#" data-position="top" data-delay="50" data-tooltip="Supprimer Rôle">
                                        <i class="material-icons right">delete</i>
                                    </a>
                                    <a class="right btn-floating green tooltipped" href="#" data-position="top" data-delay="50" data-tooltip="Editer Rôle">
                                        <i class="material-icons">create</i>
                                    </a>
                                    <a class="right btn-floating cyan lighten-2 tooltipped" href="{{ path('admin_show_access_role', {'id': accessRole.id}) }}" data-position="top" data-delay="50" data-tooltip="Editer Détails">
                                        <i class="material-icons right">info</i>
                                    </a>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('assets/js/Admin/delete_access_role.js') }}"></script>
{% endblock %}
