<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %} | Gyver Project</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        {# Stylesheets Block #}
        {% block stylesheets %}
            {{ include('::stylesheets.html.twig') }}
        {% endblock %}
    </head>

    <body>
        {% block header %}
            {{ include('::header.html.twig') }}
        {% endblock %}

        <div class="row">
            <div class="under-nav col s12 cyan darken-2">
                <h3>{% block underNavTitle %}coucou{% endblock %}</h3>
                <p>{% block underNavText %}coucou{% endblock %}</p>
            </div>
        </div>

        {% block flashMessage %}
            {{ include('::flashMessage.html.twig') }}
        {% endblock %}

        {# Body Block #}
        {% block body %}{% endblock %}
        {# End Body #}

        {% block footer %}
            {{ include('::footer.html.twig') }}
        {% endblock %}

        {% block javascripts %}
            {{ include('::javascripts.html.twig') }}
        {% endblock %}
    </body>
</html>
