{% set current_route = app.request.attributes.get('_route') %}

<div class="row">
    <nav class="cyan darken-4">

        <div class="menu-gauche">

            <a href="#" data-activates="slide-out" class="button-collapse">
                <i class="material-icons left">view_list</i>
            </a>

            <ul id="slide-out" class="side-nav fixed  cyan darken-2">

                <li class="application-header">
                    <div class="valign-wrapper">
                        <img class="circle application-logo" src="{{ asset('assets/images/logo.png') }}" alt="user-profile-img"/>
                        <p class="application-name">{{ application_name }}</p>
                    </div>

                    <div class="user-pannel">
                        <div class="row valign-wrapper user-infos-block">
                            <img class="circle user-profile-img" src="{{ asset('assets/images/user_img_default.png') }}" alt="user-profile-img"/>
                            <a href="#" class="user-infos tooltipped" data-activates="user-dropdown" data-position="right" data-delay="20" data-tooltip="Your Account">
                                    {{ app.user.firstName }} {{ app.user.lastName }} &#x25BC;
                                    {{ app.user.email }}
                            </a>

                            <ul id="user-dropdown" class="dropdown-content cyan darken-2">
                                <li>
                                    <a href="{{ path('show_account') }}" class="tooltipped" data-position="right" data-delay="20" data-tooltip="Display your account informations">
                                        <i class="material-icons left">group</i>
                                        Show Account
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="{{ path('edit_account') }}" class="tooltipped" data-position="right" data-delay="20" data-tooltip="Edit your account informations">
                                        <i class="material-icons left">edit</i>
                                        Edit Account
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>

                {# Dashboard #}
                <li {% if current_route == 'dashboard' %}class="active" {% endif %}>
                    <a href="{{ path('dashboard') }}" class="tooltipped" data-position="right" data-delay="20" data-tooltip="View Dashboard">
                        <i class="material-icons left">dashboard</i>
                        Dashboard
                    </a>
                </li>

                {# Projects #}
                <li {% if current_route == 'project_index' %}class="active" {% endif %}>
                    <a href="{{ path('project_index') }}" class="tooltipped" data-position="right" data-delay="20" data-tooltip="View Project">
                        <i class="material-icons left">folder</i>
                        Projects
                    </a>
                </li>

                {# Company #}
                <li {% if current_route == 'company_index' %}class="active" {% endif %}>
                    <a href="{{ path('company_index') }}" class="tooltipped" data-position="right" data-delay="20" data-tooltip="View Company">
                        <i class="material-icons left">business</i>
                        Company
                    </a>
                </li>

                <li>
                    <a href="#" class="tooltipped" data-position="right" data-delay="20" data-tooltip="View Task">
                        <i class="material-icons left">toc</i>
                        Task
                    </a>
                </li>
                <li>
                    <a href="#" class="tooltipped" data-position="right" data-delay="20" data-tooltip="View Team">
                        <i class="material-icons left">group</i>
                        Team
                    </a>
                </li>
                <li>
                    <a href="#" class="tooltipped" data-position="right" data-delay="20" data-tooltip="View Deliverable">
                        <i class="material-icons left">folder</i>
                        Deliverable
                    </a>
                </li>
                <li>
                    <a href="#" class="tooltipped" data-position="right" data-delay="20" data-tooltip="View Meetings">
                        <i class="material-icons left">recent_actors</i>
                        Meeting
                    </a>
                </li>
                <li>
                    <a href="#" class="tooltipped" data-position="right" data-delay="20" data-tooltip="View Budget">
                        <i class="material-icons left">attach_money</i>
                        Budget
                    </a>
                </li>
                <li>
                    <a href="#" class="tooltipped" data-position="right" data-delay="20" data-tooltip="View Risk">
                        <i class="material-icons left">trending_up</i>
                        Risk
                    </a>
                </li>
            </ul>
        </div>

        <div class="menu-haut">

            <div class="row">

                <p class="brand-logo center hide-on-small-only">Dashboard</p>

                <ul class="right">
                    <li>
                        <div class="nav-wrapper">
                            <form class="teal darken-1">
                                <div class="input-field">
                                    <input id="search" type="search" required>
                                    <label for="search"><i class="material-icons">search</i></label>
                                    <i class="material-icons">close</i>
                                </div>
                            </form>
                        </div>
                    </li>

                    {# Access to the admin dashboard #}
                    {% if is_granted('ROLE_ADMIN') %}
                        <li>
                            <a href="{{ path('admin_dashboard') }}" class="tooltipped" data-position="left" data-delay="20" data-tooltip="Administration du site">
                                <i class="material-icons left">enhanced_encryption</i>
                                Admin
                            </a>
                        </li>
                    {% endif %}

                    <li>
                        <a href="{{ path('logout') }}" class="tooltipped" data-position="left" data-delay="20" data-tooltip="Déconnexion">
                            <i class="material-icons right">exit_to_app</i>
                        </a>
                    </li>
                </ul>
            </div>

        </div>

    </nav>
</div>
