<nav class="col s12 cyan darken-4">

    <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="#">MonApplication</a></li>

        <!-- Dashboard -->
        {% if app.request.attributes.get('_route') == 'dashboard' %}
            <li class="active"><a href="{{ path('dashboard') }}">Tableau de bord</a></li>
        {% else %}
            <li><a href="{{ path('dashboard') }}">Tableau de bord</a></li>
        {% endif %}
        <!-- #Dashboard -->

        <!-- Projects -->
        <li><a href="#">Projets</a></li>
        <!-- #Projects -->

        <!-- Users -->
        {% if is_granted('ROLE_ADMIN') %}
            {% if (app.request.attributes.get('_route') == 'show_users' or app.request.attributes.get('_route') == 'user_show') %}
                <li class="active"><a href="{{ path('show_users') }}">Utilisateurs</a></li>
            {% else %}
                <li><a href="{{ path('show_users') }}">Utilisateurs</a></li>
            {% endif %}
        {% endif %}
        <!-- #Users -->
    </ul>
    <ul class="right hide-on-med-and-down">

        <!-- Profile -->
        {% if (app.request.attributes.get('_route') == 'show_account' or app.request.attributes.get('_route') == 'edit_account') %}
            <li class="active"><a href="{{ path('show_account') }}">Profil</a></li>
        {% else %}
            <li><a href="{{ path('show_account') }}">Profil</a></li>
        {% endif %}
        <!-- #Profile -->

        <li><a href="{{ path('logout') }}">Déconnexion</a></li>
    </ul>
</nav>
