{% set current_route = app.request.attributes.get('_route') %}

<nav class="col s12 grey darken-3">

    <ul id="header-admin" class="left">
        {# Dashboard #}
        <li {% if current_route == 'admin_dashboard' %}class="active"{% endif %}>
            <a href="{{ path('admin_dashboard') }}" class="tooltipped white-text" data-position="down" data-delay="20" data-tooltip="Admin Dashboard">
                <i class="material-icons left">dashboard</i>
                Dashboard
            </a>
        </li>
        {# Dashboard End #}

        {# User #}
        <li {% if current_route == 'admin_show_all_user' or current_route == 'admin_show_user' or current_route == 'admin_invitation_new' or current_route == 'admin_show_invitation' %}class="active"{% endif %}>
            <a href="{{ path('admin_show_all_user') }}" class="tooltipped white-text" data-position="down" data-delay="20" data-tooltip="Manage User">
                <i class="material-icons left">group</i>
                User
            </a>
        </li>
        {# User End #}

        {# Company #}
        <li {% if current_route == 'admin_show_all_company' or current_route == 'admin_show_company' %}class="active"{% endif %}>
            <a href="{{ path('admin_show_all_company') }}" class="tooltipped white-text" data-position="down" data-delay="20" data-tooltip="Manage Company">
                <i class="material-icons left">business</i>
                Company
            </a>
        </li>
        {# Company End #}

        {# Project #}
        <li {% if current_route == 'admin_show_all_project'  or current_route == 'admin_show_project' or current_route == 'admin_show_all_project_categories' or current_route == 'admin_create_project_category' %}class="active"{% endif %}>
            <a href="{{ path('admin_show_all_project') }}" class="tooltipped white-text" data-position="down" data-delay="20" data-tooltip="Manage Projects">
                <i class="material-icons left">folder</i>
                Project
            </a>
        </li>
        {# Project End #}
    </ul>

    <ul class="right">
        {# Logout #}
        <li>
            <a href="{{ path('dashboard') }}"  class="tooltipped white-text" data-position="left" data-delay="20" data-tooltip="Déconnexion Admin">
                <i class="material-icons right logout-icon">power_settings_new</i>
            </a>
        </li>
        {# Logout End #}
    </ul>
</nav>
