{% set current_route = app.request.attributes.get('_route') %}

<div class="row">
    <nav class="cyan darken-2">

        <div class="menu-gauche">

            <a href="#" data-activates="slide-out" class="button-collapse">
                <i class="material-icons left">view_list</i>
            </a>

            <ul id="slide-out" class="side-nav fixed  cyan darken-2">

                <li class="application-header">
                    <div class="valign-wrapper cyan darken-2">
                        <img class="circle application-logo" src="{{ asset('assets/images/logoMenu.png') }}" alt="logoMenu"/>
                        <p class="application-name">{{ application_name }}</p>
                    </div>

                    <div class="user-pannel">
                        <div class="row valign-wrapper user-infos-block">
                            <img class="circle user-profile-img" src="{{ asset('assets/images/user_img_default.png') }}" alt="user-profile-img"/>
                            <a href="#" class="user-infos tooltipped" data-activates="user-dropdown" data-position="right" data-delay="20" data-tooltip="Votre Compte">
                                    {{ app.user.firstName }} {{ app.user.lastName }} &#x25BC;
                                    {{ app.user.email }}
                            </a>

                            <ul id="user-dropdown" class="dropdown-content cyan darken-2">
                                <li>
                                    <a href="{{ path('show_account') }}" class="tooltipped" data-position="right" data-delay="20" data-tooltip="Voir mes infos">
                                        <i class="material-icons left">group</i>
                                        Voir
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="{{ path('edit_account') }}" class="tooltipped" data-position="right" data-delay="20" data-tooltip="Mettre à jour mes infos">
                                        <i class="material-icons left">edit</i>
                                        Modifier
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>

                {# Dashboard #}
                <li {% if current_route == 'dashboard' %}class="active" {% endif %}>
                    <a href="{{ path('dashboard') }}" class="tooltipped" data-position="right" data-delay="20" data-tooltip="Voir le Tableau De Bord">
                        {#<i class="material-icons left">dashboard</i>#}
                        Tableau De Bord
                    </a>
                </li>

                {# Projects #}
                <li {% if current_route == 'show_all_projects' or current_route == 'show_project' %}class="active" {% endif %}>
                    <a href="{{ path('show_all_projects') }}" class="tooltipped" data-position="right" data-delay="20" data-tooltip="Voir les Projets">
                        {#<i class="material-icons left">folder</i>#}
                        Projets
                    </a>
                </li>

                {# Company #}
                <li {% if current_route == 'show_all_companies' or current_route == 'show_company' %}class="active" {% endif %}>
                    <a href="{{ path('show_all_companies') }}" class="tooltipped" data-position="right" data-delay="20" data-tooltip="Voir les Entreprises">
                        {#<i class="material-icons left">business</i>#}
                        Entreprises
                    </a>
                </li>

                {#<li>#}
                    {#<a href="#" class="tooltipped disabled" data-position="right" data-delay="20" data-tooltip="View Task">#}
                        {#<i class="material-icons left">toc</i>#}
                        {#Task#}
                    {#</a>#}
                {#</li>#}
                {#<li>#}
                    {#<a href="#" class="tooltipped disabled" data-position="right" data-delay="20" data-tooltip="View Team">#}
                        {#<i class="material-icons left">group</i>#}
                        {#Team#}
                    {#</a>#}
                {#</li>#}
                {#<li>#}
                    {#<a href="#" class="tooltipped disabled" data-position="right" data-delay="20" data-tooltip="View Deliverable">#}
                        {#<i class="material-icons left">folder</i>#}
                        {#Deliverable#}
                    {#</a>#}
                {#</li>#}
                {#<li>#}
                    {#<a href="#" class="tooltipped" data-position="right" data-delay="20" data-tooltip="View Meetings">#}
                        {#<i class="material-icons left">recent_actors</i>#}
                        {#Meeting#}
                    {#</a>#}
                {#</li>#}
                {#<li>#}
                    {#<a href="#" class="tooltipped" data-position="right" data-delay="20" data-tooltip="View Budget">#}
                        {#<i class="material-icons left">attach_money</i>#}
                        {#Budget#}
                    {#</a>#}
                {#</li>#}
                {#<li>#}
                    {#<a href="#" class="tooltipped" data-position="right" data-delay="20" data-tooltip="View Risk">#}
                        {#<i class="material-icons left">trending_up</i>#}
                        {#Risk#}
                    {#</a>#}
                {#</li>#}
            </ul>
        </div>

        <div class="menu-haut">

            <div class="row">

                <p class="brand-logo center hide-on-med-and-down">Dashboard</p>

                <ul class="right">
                    {# Search bar for quick search with elasticsearch #}
                    {#<li>#}
                        {#<div class="nav-wrapper">#}
                            {#<form class="cyan lighten-2">#}
                                {#<div class="input-field">#}
                                    {#<input id="search" type="search" required>#}
                                    {#<label for="search"><i class="material-icons">search</i></label>#}
                                    {#<i class="material-icons">close</i>#}
                                {#</div>#}
                            {#</form>#}
                        {#</div>#}
                    {#</li>#}

                    {# Access to the admin dashboard #}
                    {% if is_granted('ROLE_ADMIN') %}
                        <li>
                            <a href="{{ path('admin_dashboard') }}" class="tooltipped" data-position="left" data-delay="20" data-tooltip="Administration du site">
                                <i class="material-icons left">enhanced_encryption</i>
                                Admin
                            </a>
                        </li>
                    {% endif %}

                    <li>
                        <a href="{{ path('logout') }}" class="tooltipped" data-position="left" data-delay="20" data-tooltip="Déconnexion">
                            <i class="large material-icons right logout-icon">exit_to_app</i>
                        </a>
                    </li>
                </ul>
            </div>

        </div>

    </nav>
</div>
