<div class="icon-bar five-up">
    <a href="{{ path('front_homepage') }}" class="item">
        <i class="fi-home"></i>
        <label>Home</label>
    </a>
    <a href="{{ path('front_homepage') }}" class="item">
        <i class="fi-bookmark"></i>
        <label>Bookmark</label>
    </a>
    <a href="{{ path('front_homepage') }}" class="item">
        <i class="fi-info"></i>
        <label>Info</label>
    </a>
    <a href="{{ path('front_homepage') }}" class="item">
        <i class="fi-mail"></i>
        <label>Mail</label>
    </a>
    <a href="{{ path('front_homepage') }}" class="item">
        <i class="fi-like"></i>
        <label>Like</label>
    </a>
</div>
