{% extends 'layout_admin.html.twig' %}

{% block title %}Gestions des Entreprises{% endblock%}

{% block underNavTitle %}Liste des Entreprises: {% endblock %}
{% block underNavText %}Vous avez {{ pagination.getTotalItemCount }} Entreprises.{% endblock %}

{% block body %}

    <div class="row center">
        <a href="#" class="waves-effect waves-light btn amber accent-4">
            <i class="material-icons right">add_circle_outline</i>
            Créer une nouvelle entreprise
        </a>
    </div>

    <div class="row">
        <ul class="collection">
            {% for company in pagination %}
                <li class="collection-item avatar">
                    <i class="material-icons circle black">business</i>
                    <p class="title">{{ company.name }}</p>
                    <p>{{ company.description }}</p>

                    <div class="secondary-content">
                        <div class="fixed-action-btn horizontal click-to-toggle">
                            <a class="btn-floating btn-large waves-effect waves-light amber accent-4 tooltipped" data-position="right" data-delay="50" data-tooltip="Voir les actions">
                                <i class="material-icons">more_vert</i>
                            </a>

                            <ul>
                                <li>
                                    <a href="{{ path('admin_show_company', {'id': company.id}) }}" class="btn-floating cyan lighten-2 tooltipped" data-position="top" data-delay="50" data-tooltip="Voir Détails">
                                        <i class="material-icons">info</i>
                                    </a>
                                </li>

                                <li>
                                    <a class="btn-floating green tooltipped" data-position="top" data-delay="50" data-tooltip="Editer">
                                        <i class="material-icons">create</i>
                                    </a>
                                </li>

                                <li>
                                    <a href="#" class="btn-floating red tooltipped" data-position="top" data-delay="50" data-tooltip="Supprimer">
                                        <i class="material-icons ">delete</i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>

    <div class="row">
        {{ knp_pagination_render(pagination) }}
    </div>

{% endblock %}
