{% extends 'layout_admin.html.twig' %}

{% block title %}Détails Entreprise{% endblock%}

{% block underNavTitle %}Détails Entreprise{% endblock %}
{% block underNavText %}{{ company.name|capitalize }}{% endblock %}

{% block body %}

    <div class="row center">
        <a href="#" class="waves-effect waves-light btn amber accent-4">
            <i class="material-icons right">add_circle_outline</i>
            Créer un nouveau projet
        </a>

        <a href="#" class="waves-effect waves-light btn">
            <i class="material-icons right">add_circle_outline</i>
            Créer un nouveau rôle
        </a>

        <a href="{{ path('admin_add_user_to_company', { 'id': company.id }) }}" class="waves-effect waves-light btn amber accent-4">
            <i class="material-icons right">add_circle_outline</i>
            Ajouter un nouveau membre
        </a>
    </div>

    <div class="row">
        <div class="col s12 m12">
            <div class="card">
                <div class="card-content grey darken-2 white-text">
                    <h5 class="valign">
                        <i class="material-icons left">business</i>
                        Entreprise no°{{ company.id }}, <span class="black-text">{{ company.name }}</span>
                    </h5>
                </div>
            </div>
        </div>

        <div class="col s12 m6">
            <div class="card">
                <div class="card-content grey lighten-1 white-text">
                    <h5 class="valign center">Détails Entreprise:</h5>
                </div>

                <div class="card-content">
                    <table class="highlight responsive-table">
                        <tr>
                            <td>Date de création:</td>
                            <td>{{ company.creationDate|date('d/m/Y') }}</td>
                        </tr>
                        <tr>
                            <td>Taille:</td>
                            <td>{{ company.users|length }} utilisateurs</td>
                        </tr>
                        <tr>
                            <td>Nombre de projets en cours:</td>
                            <td>{{ inProgressProjectNb }}</td>
                        </tr>
                        <tr>
                            <td>Nombre de projets terminés:</td>
                            <td>{{ finishedProjectNb }}</td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="card">
                <div class="card-content grey lighten-1 white-text">
                    <h5 class="valign center">Projets de l'entreprise: {{ company.projects|length }}</h5>
                </div>

                <div class="card-content">
                    <table class="highlight responsive-table">
                        {% if company.projects|length > 0 %}
                            {% for project in company.projects %}
                                <tr>
                                    <td>{{ project.name }}</td>
                                    <td>
                                        <a href="{{ path('admin_show_project', {'id': project.id}) }}">Voir Détails</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td>Aucun Projet</td>
                            </tr>
                        {% endif %}
                    </table>
                </div>
            </div>
        </div>

        <div class="col s12 m6">
            <ul class="collapsible" data-collapsible="accordion">
                <li>
                    <div class="collapsible-header tooltipped" data-position="left" data-delay="20" data-tooltip="Voir tous les membres">
                        <i class="material-icons">done_all</i>
                        Roles: {{ company.companyRoles|length }}

                        <i class="material-icons right">info_outline</i>
                    </div>
                    <div class="collapsible-body">
                        {% if company.companyRoles|length == 0 %}
                            <p>Aucun rôles</p>
                        {% else %}
                            <ul class="collection">
                                {% for role in company.companyRoles %}
                                    <li class="collection-item">
                                        <a href="{{ path('admin_show_access_role', {'id': role.id}) }}">
                                            <span class="title">{{ role.name }}</span>
                                        </a>
                                        <span class="right">{{ role.description }}</span>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                </li>

                <li>
                    <div class="collapsible-header tooltipped" data-position="left" data-delay="20" data-tooltip="Voir tous les membres">
                        <i class="material-icons">supervisor_account</i>
                        Membres: {{ company.users|length }}

                        <i class="material-icons right">info_outline</i>
                    </div>
                    <div class="collapsible-body">
                        <div class="user-with-role-list">
                            {% if company.users|length == 0 %}
                                <p>Pas de membre</p>
                            {% else %}
                                <table class="highlight responsive-table">
                                    {% for user in company.users %}
                                        <tr class="collection-item">
                                            <td>Utilisateurs:</td>
                                            <td>
                                                <a href="{{ path('admin_show_user', {'id': user.id}) }}">
                                                    {{ user.firstName }} {{ user.lastName }}
                                                </a>
                                            </td>
                                            <td>Rôle:</td>
                                            <td>
                                                {% if user.accessRole|length == 0 %}
                                                    Undefined
                                                {% else %}
                                                    {% for role in user.accessRole %}
                                                        <a href="{{ path('admin_show_access_role', {'id': role.id}) }}">
                                                            {{ role.name }}
                                                        </a>
                                                    {% endfor %}
                                                {% endif %}
                                            </td>
                                            <td>Actions:</td>
                                            <td>
                                                <a href="{{ path('admin_remove_user_from_company', { 'id': company.id, 'user_id': user.id }) }}">
                                                    <i class="material-icons">delete</i>
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            {% endif %}
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m12">
            <div class="card">
                <div class="card-content">
                    <a href="{{ path('admin_show_all_company') }}" class="waves-effect waves-light btn amber accent-4 tooltipped" data-position="top" data-delay="50" data-tooltip="Retour">
                        <i class="material-icons">chevron_left</i>
                    </a>

                    <a href="#" onclick="confirmAdminDeleteCompany({{ company.id }})" class="right btn-floating waves-effect waves-light red tooltipped" data-position="top" data-delay="50" data-tooltip="Supprimer">
                        <i class="material-icons">delete</i>
                    </a>

                    <a href="{{ path('admin_update_company', { 'id': company.id }) }}" class="right btn-floating waves-effect waves-light green tooltipped" data-position="top" data-delay="50" data-tooltip="Editer">
                        <i class="material-icons">edit</i>
                    </a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('assets/js/Admin/delete_company.js') }}"></script>
{% endblock %}
