{% set i = 0 %}

{% extends '::base.html.twig' %}

{% block title %}Admin OverView{% endblock %}

{% block body %}
    <div class="row">
        <h3>User List :</h3>

        <div class="container">
            <ul class="collection">
                {% for u in users %}
                    <li class="collection-item avatar">
                        <img src="http://lorempixel.com/{{ random(500) }}/{{ random(500) }}/people/" class="circle">
                        <span class="title">{{ u.firstName }} {{ u.lastName }}</span>
                        <p>Compte: {{ u.enabled ? 'actif':'archivé' }}</p>
                        <p>
                            Entreprise{% if u.company|length > 1 %}s{% endif %}:
                            <ul>
                                {% for company in u.company %}
                                    <li>{{ company.name }}</li>
                                {%  endfor %}
                            </ul>
                        </p>
                        <a href="{{ path('user_show', {'id': u.id}) }}" class="secondary-content">
                            <i class="material-icons" title="Voir">visibility</i>
                            <i class="material-icons" title="Modifier">settings</i>
                            <i class="material-icons" title="Archiver">lock_outline</i>
                            <i class="material-icons" title="Supprimer">delete</i>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

{% endblock %}
