{% extends '::base.html.twig' %}

{% block title %}Update Account Infos{% endblock%}
{% block underNavTitle %}Welcome{% endblock %}
{% block underNavText %}Account Update{% endblock %}

{% block body %}

    <div class="row">
        <div class="large-12 columns">
            <fieldset>
                <form action="" method="post">
                    <label for="civility">Civility :</label>


                    <input type="checkbox" name="_civility" value="1" {% if user.civility %} checked {% endif %}/> Homme
                    <input type="checkbox" name="_civility" value="0" {% if not user.civility %} checked {% endif %}/> Femme

                    <br/>
                    <label for="first_username">First Name :</label>
                    <input type="text" id="first_username" name="_first_username" value="{{ user.firstName }}" />

                    <label for="username">Last Name:</label>
                    <input type="text" id="username" name="_username" value="{{ user.lastName }}" />

                    <label for="email">Email :</label>


                    {% for email in user.emailList %}
                        <input type="email" name="mail[]" value="{{ email.email }}" />
                    {% endfor %}

                    <input type="button" name="add_mail" id="add_mail" onclick="addInputField('mail')" value="Another Mail"/>


                    <label for="phone">Phone :</label>

                    {% for phone in user.phoneNumber %}
                        <input type="text" name="phone[]" value="{{ phone.phoneNumber }}" />
                    {% endfor %}

                    <input type="button" name="add_phone" id="add_phone" onclick="addInputField('phone')" value="Another Phone Number"/>

                    <label for="company">Company :</label>
                    {% for company in user.company %}
                        <input type="text" value="{{ company.name }}" />
                    {% endfor %}


                    <button type="submit">Change</button>
                </form>
            </fieldset>
        </div>
    </div>

{% endblock %}
