{% extends '::base.html.twig' %}

{% block title %}Profil personnel{% endblock%}
{% block underNavTitle %}Profil personnel{% endblock %}
{% block underNavText %}Retrouvez ici l'ensemble des informations vous concernant.{% endblock %}

{% block body %}

    <div class="row">
        <div class="large-12 columns">
            <fieldset>

                    <p>Civility :</p>
                    <p> {{user.civility ? "Homme" : "Femme" }} </p>

                    <br/>
                    <p>First Name :</p>
                    <p>{{ user.firstName }}</p>

                    <br/>
                    <p>Last Name:</p>
                    <p>{{ user.lastName }}</p>

                    <br/>
                    <p>Email :</p>
                    {% for email in user.emailList %}
                        <p>{{ email.email }}</p>
                    {% endfor %}
                    <br/>

                    <p>Phone :</p>
                    {% for phone in user.phoneNumber %}
                        <p>{{ phone.phoneNumber }}</p>
                    {% endfor %}
                    <br/>



                    <p>Company :</p>
                    {% for company in user.company %}
                        <p>{{ company.name }}</p>
                    {% endfor %}

                    <div class="row">
                        <div class="col l6 right">
                            <a class="waves-effect waves-light btn" href="{{ path('user_edit') }}">Editer</a>
                        </div>
                    </div>

            </fieldset>
        </div>
    </div>

{% endblock %}
