{% extends 'layout_admin.html.twig' %}

{% block title %}Gestions des Catégories Projet{% endblock%}

{% block underNavTitle %}Liste des Catégories Projet: {% endblock %}
{% block underNavText %}Vous avez {{ pagination.getTotalItemCount }} Catégories Projet.{% endblock %}

{% block body %}

    <div class="row center">
        <a href="{{ path("admin_create_project_category") }}" class="waves-effect waves-light btn amber accent-4">
            <i class="material-icons right">add_circle_outline</i>
            Créer une nouvelle Catégorie Projet
        </a>
    </div>

    <div class="row">
        <ul class="collection">
            {% for projectCategory in pagination %}
                <li class="collection-item avatar">
                    <i class="material-icons circle black">assignment</i>
                    <p class="title">{{ projectCategory.name }}</p>
                    <p>Global: {{ projectCategory.global ? "Oui" : "Non" }}</p>

                    {% if projectCategory.company %}
                        Entreprise:
                        <a href="{{ path("admin_show_company", {"id": projectCategory.company.id }) }}">
                            {{ projectCategory.company.name }}
                        </a>
                    {% else %}
                        Entreprise: non
                    {% endif %}

                    <div class="secondary-content">
                        <div class="fixed-action-btn horizontal click-to-toggle">
                            <a class="btn-floating btn-large waves-effect waves-light amber accent-4 tooltipped" data-position="right" data-delay="50" data-tooltip="Voir les actions">
                                <i class="material-icons">more_vert</i>
                            </a>

                            <ul>
                                <li>
                                    <a href="{{ path('admin_update_project_category', {'id': projectCategory.id}) }}" class="btn-floating green tooltipped" data-position="top" data-delay="50" data-tooltip="Editer Catégorie">
                                        <i class="material-icons">create</i>
                                    </a>
                                </li>

                                <li>
                                    <a href="{{ path('admin_delete_project_category', {"id": projectCategory.id}) }}" class="btn-floating red tooltipped" data-position="top" data-delay="50" data-tooltip="Supprimer Catégorie">
                                        <i class="material-icons ">delete</i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>

    <div class="row">
        {{ knp_pagination_render(pagination) }}
    </div>

{% endblock %}
