{% extends 'Email/email_layout.html.twig' %}

{% block body %}

    <div>
        <p>Bonjour <span style="font-weight:bold; font-size:16px;">{{ user.firstName }} {{ user.lastName }}</span>,</p>

        <p>Votre compte sur <a href="{{ app.request.schemeAndHttpHost }}">{{ app.request.schemeAndHttpHost }}</a> a été supprimé par un administrateur.</p>

        <p>Si vous avez la moindre question, contacter le support sur "{{ support_address }}".</p>

        <p>Cordialement,</p>

        <p>L'équipe {{ application_name|capitalize }} Project.</p>
    </div>

{% endblock %}
