{% block subject %}[{{ application_name|capitalize }} Project] | Demande de réinitialisation de mot de passe{% endblock %}

{% block body_html %}
    {# see embed doc in http://twig.sensiolabs.org/doc/tags/embed.html #}
    {% embed "::Email/email_layout.html.twig" %}
        {% block body %}
            {% autoescape false %}
                <div>
                    <p>Bonjour <span style="font-weight:bold; font-size:16px;">{{ user.firstName }} {{ user.lastName }}</span>,</p>

                    <p>Vous avez effectué une demande de réinitialisation de mot de passe sur sur <a href="{{ app.request.schemeAndHttpHost }}">{{ app.request.schemeAndHttpHost }}</a>.</p>

                    <div style="text-align: center">
                        <a href="{{ confirmationUrl }}" style="text-decoration:none;">
                            <button type="button" style="padding:10px 30px;background-color:#ffab00;color:#fff;border:none;border-radius:2px;font-size:17px;letter-spacing:1px;box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);">
                                Changer le mot de passe
                            </button>
                        </a>
                    </div>

                    <p>Cordialement,</p>

                    <p>L'équipe {{ application_name|capitalize }} Project.</p>
                </div>
            {% endautoescape %}
        {% endblock %}
    {% endembed %}
{% endblock %}
